.footer-container{
    background-color: #212121;
}

.footer-menu li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    font-size: 15px;
}
.footer-menu li:hover{
    color: #dd4026;
}
.footer-social li{
    list-style-type: none;
    text-decoration: none;
    color: #dd4026;
}
.color{
    color: white;
}
