.footer-container{
    /* background-image: url("https://i.ibb.co/ZY4Jr2q/footer-top-bg.png"); */
    background-color: #212121;
}

.footer-menu li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    /* color: rgba(255, 255, 255, 0.781); */
    font-size: 15px;
}
.footer-menu li:hover{
    color: white;
}
.footer-social li{
    list-style-type: none;
    text-decoration: none;
    color: #dd4026;
}
.color{
    color: #dd4026;
}
